.container {
  background: #0E0E1B;
  border-radius: 20px;
  width: 356px;
  height: 461px;
  display: flex;
  flex-direction: column;

}

.capa {
  width: 100%;
  height: 236px;
  object-fit: cover;
  border-radius: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

.ft {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #004B96;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: 'Inter';
}

.nome{
    font-weight: 400;
    font-size: 36px;
}
.subtitulo{
    margin-top: 2px;
    font-size: 22px;
    color: #999999;
}